<div class="container mt-3 mb-3">
  <div class=" text-center">

    <h1>Register </h1>


  </div>


  <div class="row ">
    <div class="col-lg-7 mx-auto">
      <div class="card mt-2 mx-auto p-4 bg-light">
        <div class="card-body bg-light">
          <div class="container">
            <form id="contact-form" (ngSubmit)="sendUser()" role="form" [formGroup]="regFormGroup">
              <div class="controls">

                <!-- name , role -->
                <div class="row">
                  <!-- name  -->
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="form_name">Name *</label>
                      <input id="form_name" type="text" name="name" class="form-control"
                        placeholder="Please enter your name *" required="required" data-="name is required."
                        formControlName="name"
                        [ngClass]="{'is-invalid': (userName?.touched || userName?.dirty)&& userName?.invalid}">
                      @if (userName?.errors?.['required'] && userName?.touched){
                      <span class="text-danger">Name is required</span>
                      } @else if (userName?.errors?.['minlength'] && userName?.touched){
                      <span class="text-danger">Name must be at least 3 characters long.</span>
                      }
                    </div>
                  </div>
                  <!-- role -->
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="form_need">specify your Role *</label>
                      <select id="form_need" name="need" class="form-control" required="required" data-error="Please specify your need.
                      " formControlName="role">
                        <!-- @for(role of roles ; track $index){
                        <option value=role.value>{{role.name}}</option>
                        } -->
                        <option value="admin">Admin</option>
                        <option value="user" selected>User</option>
                      </select>

                    </div>
                  </div>
                </div>

                <!--  Email , Password -->
                <div class="row">
                  <!-- Email  -->
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="form_email">Email *</label>
                      <input id="form_email" type="email" name="email" class="form-control"
                        placeholder="Please enter your email *" required="required"
                        data-error="Valid email is required." pattern="^[A-Za-z0-9._]{2,}@[A-Za-z0-9]+\.[A-Za-z]{2,}$"
                        formControlName="email"
                        [ngClass]="{'is-invalid': (userEmail?.touched || userEmail?.dirty)&& userEmail?.invalid}">
                      @if (userEmail?.errors?.['required'] && userEmail?.touched){
                      <span class="text-danger">Email is required</span>
                      } @else if (userEmail?.errors?.['pattern'] && userEmail?.touched){
                      <span class="text-danger">Email addresses with 2+ character names, followed by a domain and a
                        top-level domain.</span>
                      }
                    </div>
                  </div>
                  <!-- password -->
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="form_pass">Password *</label>
                      <input id="form_pass" type="password" name="password" class="form-control"
                        placeholder="Please enter your password *" required="required" formControlName="password"
                        data-error="Valid Password is required." pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,20}$"
                        [ngClass]="{'is-invalid': (userPassword?.touched || userPassword?.dirty)&& userPassword?.invalid}">

                      @if (userPassword?.errors?.['required'] && userPassword?.touched){
                      <span class="text-danger">Password is required</span>
                      } @else if (userPassword?.errors?.['pattern'] && userPassword?.touched){
                      <span class="text-danger">Password: 6-20 characters with a number, uppercase, and lowercase
                        letter.</span>
                      }
                    </div>

                  </div>
                </div>

                <!-- phone , address -->
                <div class="row">
                  <!-- phone  -->
                  <div formArrayName="phone">
                    @if (userPhone.controls.length > 0){
                    <p class="mt-4">Phones</p>
                    }
                    @for (address of userPhone.controls; track $index) {
                    <div class="row form-group col-12" [formGroupName]="$index">
                      <div class="col-md-4">
                        <label for="city">Code *</label>
                        <input type="number" formControlName="code" class="form-control">
                      </div>
                      <div class="col-md-4">
                        <label for="street">Number *</label>
                        <input type="number" formControlName="number" class="form-control">
                      </div>

                      <div class="col-md-1 pt-3">
                        <button class="btn btn-danger mt-2  " (click)="removePhone($index)">Remove</button>
                      </div>
                    </div>

                    }
                  </div>

                  <div class="row mt-4 text-center">
                    <div class="col-12">
                      @if (userPhone.controls.length == 0){
                      <p class="text-danger mt-2"> At least one Phone is required</p>
                      }
                      <button class="btn btn-primary" (click)="addPhone()">Add Phone</button>
                    </div>
                  </div>
                </div>

                <!-- Address: -->

                <div formArrayName="addresses">
                  @if (userAddresses.controls.length > 0){
                  <p class="mt-4">Addresses</p>
                  }
                  @for (address of userAddresses.controls; track $index) {
                  <div class="row form-group col-12" [formGroupName]="$index">
                    <div class="col-md-4">
                      <label for="city">City *</label>
                      <input type="text" formControlName="city" class="form-control">
                    </div>
                    <div class="col-md-4">
                      <label for="street">Street *</label>
                      <input type="text" formControlName="street" class="form-control">
                    </div>
                    <div class="col-md-3">
                      <label for="zipcode">Zipcode *</label>
                      <input type="text" formControlName="zipcode" class="form-control">
                    </div>

                    <div class="col-md-1 pt-3">
                      <button class="btn btn-danger mt-2  " (click)="removeAddress($index)">Remove</button>
                    </div>
                  </div>

                  }
                </div>

                <div class="row mt-4 text-center">
                  <div class="col-12">
                    @if (userAddresses.controls.length == 0){
                    <p class="text-danger mt-2"> At least one address is required</p>
                    }
                    <button class="btn btn-primary" (click)="addAddress()">Add Address</button>
                  </div>
                </div>

                <!-- button submit -->
                <div class="row mt-2">
                  <div class="col-md-12">
                    <button [disabled]="!regFormGroup.valid" type="submit"
                      class="btn btn-success btn-send  pt-2 btn-block">Register</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>


      </div>

    </div>

  </div>
</div>

<p>
  {{regFormGroup.value | json }}
  {{regFormGroup.get("name") }}
</p>
