<div class="kode-content">
  <div class="container">
    <div class="error-404">
      <h2>Whooos!!!</h2>
      <div class="page-404">
        <p>404</p>
        <span>The page can not be found</span>
      </div>
      <p>We could not found the page you are looking for. Please try another page and verify the URL you have entered.
      </p>
      <!-- <a href="" class="go-back">Go back to home page</a> -->
      <!-- <button class="go-back" (click)="goBack()">Go back to home page</button> -->
      <a class="go-back" (click)="goBack()">Go back to home page</a>
    </div>
  </div>
</div>
