<!-- FILEPATH: /e:/ITI/Trails/Angular/ecommerce-project/src/app/Components/side-menu/side-menu.component.html -->

<div class="container">

  <div class="col-md-9">
    <!-- Main Content -->
    <h3>Welcome to the Dashboard</h3>
    <!-- Add your main content here -->
  </div>
  <div class="col-md-9">
    <!-- Sidebar -->
    <h5>Dashboard Menu</h5>
    <ul class="nav nav-pills flex-column">
      <li class="nav-item">
        <a class="nav-link active" href="#">Overview</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Reports</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Analytics</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Export</a>
      </li>
    </ul>
    <hr class="d-sm-none">

  </div>
</div>
